<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="/static/styles/aboutus.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <div class="about-section">
      <h1>About Us</h1>
      <p>This is the project of code unnati innovation marathon.</p>
      <p>This project is about Mood detection analyser.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Priyank Kuvadiya</h2>
            <p class="title">Backend Developer</p>
            <p>In this Amazing project Backend work is done by this person.</p>
            <p>priyank3183@gmail.com</p>
            <p><a href="mailto:priyank3183@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Jainesh Prajapati</h2>
            <p class="title">Frontend Developer</p>
            <p>All fabulous work of frontend design and development done by this person.</p>
            <p>jaineshprajapati7@gmail.com</p>
            <p><a href="mailto:jaineshprajapati7@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Afzal patel</h2>
            <p class="title">Database manager</p>
            <p>Database used in this project is collect and develop by this person.</p>
            <p>afzalp072@gmail.com</p>
            <p><a href="mailto:afzalp072@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
