<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>getstarted</title>
    <link rel="stylesheet" href="/static/styles/home.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <section class="projects">

      <div class="backgroundimg">
      <img src="/static/images/background2.jpg">
      </div>

      <div class="navbar">
        <a href="/"><img src="/static/images/logo2.png" class="logo" ></a>
        <ul>
          <li><a href="/home">home</a></li>
          <li><a href="#">How To Use</a></li>
          <li><a href="/aboutus">About us</a></li>
        </ul>
      </div>
      <div>
       <img src="/static/images/img1.png" width="400" height="400" class="project1">
       </div>
       <a href="/image">
       <button class="btn"><span>Upload Image</span></button></a>
       <div>
        <img src="/static/images/img2.png" width="400" height="400" class="project2">
        </div>
        <a href="/webcam">
        <button class="btn2"><span>Webcam</span></button></a>
  </section>
  </body>
</html>
