<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mood Analyzer</title>
    <link rel="stylesheet" href="/static/styles/start.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  </head>
  <body>
<section class = "heropage">

  <div class="video">
  <video autoplay loop muted plays-inline>
    <source src="/static/images/background.mp4" type="video/mp4">
  </video>

  </div>
  <div>
   <img src="/static/images/logo1.png" class = "logo">
 </div>
  <div class="t1">
 <h1>Found Out Your Mood..😜</h1>
  </div>
  <a href="/home">
<button class="btn"><span>GET STARTED</span></button></a>
</section>
  </body>
</html>s
